#header{

    background-image: url("http://localhost/b2b/public/asset/images/bckimg.jpg");
    height:90px;
}
.nav.navbar-nav li a{
    color: white;
    font-weight: bold;
    font-size: 15px;
    width:100%;
}
.nav.navbar-nav li a:hover {
    background-color: black;
    color:blue;
}
.navbar-toggle  {
    border-color: black;
    background-color: black;
}


.nav.navbar-nav1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: blue;
    font-weight: bold;
    font-size: 15px;
    width:100%;

}

.nav.navbar-nav1 li{
    float: left;
}

.nav.navbar-nav1 li a {
    display:block;
    color: white;
    text-align: center;
    padding: 18px 18px;


}

/* Change the link color to #111 (black) on hover */
.nav.navbar-nav1 li a:hover {
    background-color: #111;
    color:blue;
}
.head{
    font-size:3em;
    font-weight:bold;
}

.nav.navbar-nav li a:hover {
    background-color: black;
    color:blue;

}
.navbar-toggle  {
    border-color: black;
    background-color: black;

}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

#mainheading{
    font-size:50px;
    position: relative;
    top: 4px;
    font-variant:small-caps;

}
#intro{
    height: 100%;
    width: 100%;
    position: relative;
}
#section1{
    height: 100%;
    width: 100%;
    position: relative;
    padding-top:80px;
}

#section2{
    height: 100%;
    width: 100%;
    position: relative;
    padding-top:80px;
}

#section3{
    height: 100%;
    width: 100%;
    position: relative;
    padding-top:80px;
}

#section4{
    height: 100%;
    width: 100%;
    position: relative;
    padding-top:80px;
}

#section5{
    height: 100%;
    width: 100%;
    position: relative;
    padding-top:80px;
}

#section6{
    height: 100%;
    width: 100%;
    position: relative;
    padding-top:80px;
}

#intro{
    padding-top:80px;
}

#colour{
    background-color:#fff;
}
/*buttons*/
.alizarin {
    background-color: #000080;
}
.alizarin:hover {
    color: #000080;
    background-color: #fff;
}
.medium {
    padding: 10px 25px;
    font-size: 1.15em;
}
