html,body {
    height: 100%;
    width: 100%;
}
body{
    padding-top: 70px;
}
#header{
    /*background-image: url("../images/bckimg.jpg") ;
    background-color: #eeeeee;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+27,207cca+79&0.45+37,1+57,1+70,1+97,1+97 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+3,207cca+3,207cca+3,207cca+3&0.45+50,1+65,1+79,1+97,1+97,1+97,1+97,1+97 */
    background: -moz-linear-gradient(-45deg,  rgba(32,124,202,0.45) 3%, rgba(32,124,202,0.45) 50%, rgba(32,124,202,1) 65%, rgba(32,124,202,1) 79%, rgba(32,124,202,1) 97%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(32,124,202,0.45) 3%,rgba(32,124,202,0.45) 50%,rgba(32,124,202,1) 65%,rgba(32,124,202,1) 79%,rgba(32,124,202,1) 97%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(32,124,202,0.45) 3%,rgba(32,124,202,0.45) 50%,rgba(32,124,202,1) 65%,rgba(32,124,202,1) 79%,rgba(32,124,202,1) 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73207cca', endColorstr='#207cca',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height:100%;
}
.footer-bg{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+3,207cca+3,207cca+3,207cca+3&0.45+50,1+65,1+79,1+97,1+97,1+97,1+97,1+97 */
    background: -moz-linear-gradient(45deg,  rgba(32,124,202,0.45) 3%, rgba(32,124,202,0.45) 50%, rgba(32,124,202,1) 65%, rgba(32,124,202,1) 79%, rgba(32,124,202,1) 97%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  rgba(32,124,202,0.45) 3%,rgba(32,124,202,0.45) 50%,rgba(32,124,202,1) 65%,rgba(32,124,202,1) 79%,rgba(32,124,202,1) 97%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  rgba(32,124,202,0.45) 3%,rgba(32,124,202,0.45) 50%,rgba(32,124,202,1) 65%,rgba(32,124,202,1) 79%,rgba(32,124,202,1) 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73207cca', endColorstr='#207cca',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.nav.navbar-nav li a{
    color: white;
    font-weight: bold;
    font-size: 100%;
    width:100%;
}
.nav.navbar-nav1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #162252;
    font-weight: bold;
    font-size: 15px;
}
.nav.navbar-nav1 li{
    float: left;
}

.nav.navbar-nav1 li a {
    display:block;
    color: white;
    text-align: center;
    padding: 18px 18px;
}

/* Change the link color to #111 (black) on hover */
.nav.navbar-nav1 li a:hover {
    background-color: white;
    color:blue;
}
.head{
    font-size:3em;
    font-weight:bold;
}

.nav.navbar-nav li a:hover {
    background-color: white;
    color:blue;

}
.navbar-toggle  {
    border-color: #eeeeee;
    background-color: #eeeeee;

}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

#mainheading{
    font-size:50px;
    position: relative;
    top: 4px;
    font-variant:small-caps;

}
#intro{
    height: 100%;
    width: 100%;
    position: relative;
}
#section1{
    height: 100%;
    width: 100%;
    position: relative;
    padding-top:5px;
}

#section2{
    height: 100%;
    width: 100%;
    position: relative;
    padding-top:20px;
}

#section3{
    height: 100%;
    width: 100%;
    position: relative;
    padding-top:20px;
}

#section4{
    height: 100%;
    width: 100%;
    position: relative;
    padding-top:20px;
}

#section5{
    height: 100%;
    width: 100%;
    position: relative;
    padding-top:20px;
}

#section6{
    height: 100%;
    width: 100%;
    position: relative;
    padding-top:20px;
}

#intro{
    padding-top:80px;
}

#colour{
    background-color:#fff;
}
/*buttons*/
.alizarin {
    background-color: #000080;
}
.alizarin:hover {
    color: #000080;
    background-color: #fff;
}
.medium {
    padding: 10px 25px;
    font-size: 1.15em;
}
div.background {
    background: url(../images/images6.jpg) ;
    border: 1px solid #000080;
    height: 100%;
    width:100%;
    background-repeat:no-repeat;/*we want to have one single image not a repeated one*/
    background-size:cover;/*this sets the image to fullscreen covering the whole screen*/
}

div.transbox {
    margin: 15%;
    background-color: #ffffff;
    border: 1px solid #000080;
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
    width:70%;
}

div.transbox #form-inline {
    margin: 2%;
}
#inputdetails{
    font-weight: bold;
    color: black;
}
div.backgroundd {
    background: #162252 ;
    border: 0.5px solid #000080;
    height: 150px;
    width:100%;
    background-repeat:no-repeat;/*we want to have one single image not a repeated one*/
    background-size:cover;/*this sets the image to fullscreen covering the whole screen*/
}

div.transboxx {
    margin:0 auto;
    background-color: #ffffff;
    border: 1px solid #000080;
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
    width:800px;
}
.carousel-inner .item  img{
    height:250px;
    width:550px;
}
#products{
    background:#000080;
    color:white;
    font-size:15px;
    font-weight:bold;
}
.event{border: 2px solid #000080;
    border-radius: 5px;}
.dynamicTile .col-sm-2.col-xs-4 {
    padding: 5px;
}

.bigicon {
    font-size: 67px;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}

.icontext {
    color: white;
    font-size: 27px;
    padding:10px;
}

.bigicondark {
    font-size: 67px;
    color: black;
    margin-top: 20px;
    margin-bottom: 10px;
}

.icontextdark {
    color: black;
    font-size: 27px;
}

.dynamicTile .col-sm-4.col-xs-8 {
    padding: 5px;
}

#tile1 {
    background:#A80000 ;
}

#tile2 {
    background: #006633;
}

#tile3 {
    background: #153178;
}

#tile4 {
    background: #EACF46;
}

#tile5 {
    background: #990033;
}

#tile6 {
    background: #663300;
}


.tilecaption {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    margin: 0!important;
    text-align: center;
    color: white;
    font-family: Segoe UI;
    font-weight: lighter;
}

.orgheading{
    font-size:30px;
    font-weight:bold;
}
.orgdetails{
    font-size:25px;
}
.backg {
    background-image: url("../images/bckimg.jpg");
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}